h1{
    text-align: center;
    margin: 80px;
    padding: 10px;
    background: crimson;
    border-radius: 10px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    margin: 30px;
    background: antiquewhite;
    border-radius: 20px;
    padding: 20px;
}
.photo{
    display: flex;
    justify-content: center;
    margin: 100px;
}